<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>

      <!-- Described Queue name -->
      <add key="QueueName" value="MyProject-MyReportQueue" />

      <!-- Description about the queue -->
      <add key="QueueDescription" value="[MyProject] Queue that holds async reports processing" />

      <!-- Destination Mail to mock -->
      <add key="DestinationMail" value="gabriel@mailinator.com" />
    </appSettings>
</configuration>