<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <!-- Described Queue name -->
        <add key="QueueName" value="MyProject-MyReportQueue" />   
        <!-- Description about the queue -->
        <add key="QueueDescription" value="[MyProject] Queue that holds async reports processing" />
        <!-- The time in Milliseconds that this worker is scan for new messages -->
        <add key="RefreshRate" value="10000" />
        <!-- The email that is signed on sent reports -->
        <add key="MailFrom" value="noreply@myawesomereports.com" />
        <!-- Smtp address for mail dispatching -->
        <add key="SmtpAddress" value="smtp.office365.com" />
        <!-- Smtp user for auth -->
        <add key="SmtpUser" value="myid@mydomain.com" />
        <!-- Smtp password for auth -->
        <add key="SmtpPassword" value="yourpassword" />
        <!-- Db connection string(postgres) -->
        <add key="ConnString" value="Server=localhost;Port=5432;User Id=postgres;Password=1234;Database=MyReportDatabase" />
        
    </appSettings>
</configuration>